<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Achie"
        tools:targetApi="30">
        <activity
            android:name=".LOQTerm"
            android:exported="false"
            android:label="@string/title_activity_loqterm"
            android:theme="@style/Theme.Achie.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".AchieEditActivity"
            android:exported="false"
            android:label="@string/title_activity_achie_edit"
            android:theme="@style/Theme.Achie.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ViewFullImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_view_full_image"
            android:theme="@style/Theme.Achie.Fullscreen" />
        <activity
            android:name=".PlanningActivity"
            android:exported="false"
            android:label="@string/title_activity_planning"
            android:theme="@style/Theme.Achie.NoActionBar" />
        <activity
            android:name=".ViewAchieActivity"
            android:exported="false"
            android:label="@string/title_activity_view_achie"
            android:theme="@style/Theme.Achie.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.View" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/x-zip-compressed" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.View" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:pathPattern=".*\\.ach" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddAchieActivity"
            android:exported="false"
            android:label="@string/title_activity_add_achie"
            android:theme="@style/Theme.Achie.NoActionBar" />
        <activity
            android:name=".AddProfActivity"
            android:exported="false"
            android:label="@string/title_activity_add_prof"
            android:theme="@style/Theme.Achie.NoActionBar" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Achie.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>